html, body {
    top: 0;
    margin: 0;
    padding: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.08);
    height : 100%;
    width : 100%;
}

button.btn:not(#cart-btn) {
    margin: 10px;
}

#cart-btn {
    margin-right: 10px;
}

/* ------ Bootstrap override ------ */

.container {
    padding-top: 5rem!important;
}

.form-control {
    margin: 10px;
}

.card {
    margin: 5px;
}

.list-group-item, .card-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group-item:hover, .card-header:hover {
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
}

/* ------ Bootstrap override ------ */